* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}
h1 {
  padding-top:30px;
}
form input, button {
  display:block;
  max-width: 500px;
  width:100%
}
button {
  border:none
  backgrond-color:green
}
